.interactive-video-editor {
  position: relative;
  height: 100%;
}

.interactive-video-editor .video-container {
  background-color: #000;
  position: relative;
  height: calc(100% - 41px);
  overflow: hidden;
}
.interactive-video-editor .video-container iframe,
.interactive-video-editor .video-container video {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

.interactive-video-editor .video-controls {
  border-top: 1px solid #000;
  padding: 5px;
  background-color: #eee;
}

.interactive-video-editor .video-controls .selected-item {
  float: right;
}

.interactive-video-editor .video-controls .button {
  display: block;
  position: relative;
  width: 40px; height: 30px;
  color: #fff;
  cursor: pointer;
  background-color: #3288c3;
  float: left;
  margin-right: 1px;
}

.interactive-video-editor .video-controls .button:hover {
  background-color: #266895;
}

.interactive-video-editor .video-controls [data-disabled="true"] .button {
  opacity: .4;
  cursor: not-allowed;
}
.interactive-video-editor .video-controls :not([data-disabled="true"]) .button:hover {
  background-color: #333;
}
.interactive-video-editor .video-controls :not([data-disabled="true"]) .button.scoped {
  background-color: #3288c3;
  /*opacity: .7;*/
}
.interactive-video-editor .video-controls :not([data-disabled="true"]) .button.scoped:hover {
  background-color: #266895;
  opacity: 1;
}

.interactive-video-editor .video-controls .button.step-backward::before,
.interactive-video-editor .video-controls .button.step-backward::after,
.interactive-video-editor .video-controls .button.step-forward::before,
.interactive-video-editor .video-controls .button.step-forward::after {
  content: ' ';
  position: absolute;
  display: block;
  height: 0; width: 0;
  border-style: solid;
}
.interactive-video-editor .video-controls .button.step-backward::before,
.interactive-video-editor .video-controls .button.step-backward::after {
  border-width: 6px 8px 6px 0;
  border-color: transparent #fff transparent transparent;
}
.interactive-video-editor .video-controls .button.step-forward::before,
.interactive-video-editor .video-controls .button.step-forward::after {
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent #fff;
}
.interactive-video-editor .video-controls .button.step-forward::before,
.interactive-video-editor .video-controls .button.step-backward::before {
  top: 9px; left: 12px;
}
.interactive-video-editor .video-controls .button.step-forward::after,
.interactive-video-editor .video-controls .button.step-backward::after {
  top: 9px; left: 19px;
}

.interactive-video-editor .video-controls .button.add::before,
.interactive-video-editor .video-controls .button.move::before,
.interactive-video-editor .video-controls .button.edit::before,
.interactive-video-editor .video-controls .button.remove::before {
  position: absolute;
  width: 22px; height: 19px;
  top: 6px; left: 9px;
}
.interactive-video-editor .video-controls .button.add::before {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAATCAYAAACUef2IAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFlJREFUeNrUlEEKACAIBN3o2R77t71AVGKzPEbWMC7CzIRRQ0g1nXNN9K4WYrAceyoqv+GJ4aFLBZ7LcVaFeferKnBKnCV1ya+nQoP9gMjxf7uCRkx7eAswAGoSEjCJnyRKAAAAAElFTkSuQmCC);
}
.interactive-video-editor .video-controls .button.move::before {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAATCAYAAACUef2IAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE9JREFUeNrskzEKADAIA03//+d0lyqmYLuYKYMeQSJIWoeWNWnAf8GVulAFKx1kFUznGcwwgz+9MZxHMINgJ00MIRzUVuAWOp834LO2AAMAu5cNI9q6dtEAAAAASUVORK5CYII=);
}
.interactive-video-editor .video-controls .button.edit::before {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAATCAYAAACUef2IAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPZJREFUeNq0VcsKwjAQbPqgIqjg1ZvgJ3rzDzz7m4IKxaBtnMgINWyT9BVYtk2zm8nsZKuMMckcI01mGrkwdwoFKaXOcC9YI323LAxFvIYV3s1djoGmZGDpidOwO72IWAnFi64mQCwkSsZQEaQk70ARoqK/KnCMZ+D4W6y5wm/w+iYVk+g4J4CbL34UFUj+wPoVHiu3gL1VYSkg2vbcX/Khqigl5HDLNjWTqcKlRVLF0UPDpeu24dueYLSYOEIRlZPwQMlpWj2kV3x7hNU61u146zQ307/rLfYKBKQMyITENYMLFqtuJ/Q2ISSO/UFkTNxI3e0jwABrC3eujPji5gAAAABJRU5ErkJggg==);
}
.interactive-video-editor .video-controls .button.remove::before {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAATCAYAAACUef2IAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEBJREFUeNpi/P//PwMtABMDjQDNDGYhQS1ymDFSYvB/EuQYB0UYM5JID/FUMWrwMDf4PwGarLKCcTSMKQYAAQYAF/QKK9UQEsIAAAAASUVORK5CYII=);
}

.interactive-video-editor .video-controls .button .dropdown {
  position: absolute;
  bottom: 0; left: 0;
  z-index: 2;
  background-color: #fff;
  border: 1px solid #c9cbcc;
}
.interactive-video-editor .video-controls .button .dropdown div {
  cursor: pointer;
  margin: 2px 0;
  padding: 0 25px 0 5px;
  white-space: nowrap;
  height: 20px; line-height: 20px;
  font-family: Arial, Sans-Serif;
  font-size: 10px;
  color: #666;
}
.interactive-video-editor .video-controls .button .dropdown div:hover {
  background-color: #eee;
}

.interactive-video-editor .timebar {
  height: 30px;
  margin: 0 130px;
  position: relative;
  background-color: #fff;
  font-family: arial;
  font-size: 11px;
  line-height: 1;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.interactive-video-editor .timebar .current-time {
  position: absolute;
  width: 1px; height: 30px;
  background: #266895;
}
.interactive-video-editor .timebar .current-time::before,
.interactive-video-editor .timebar .current-time::after {
  content: ' ';
  position: absolute;
  left: -5px;
  width: 1px; height: 0;
  border-style: solid;
}
.interactive-video-editor .timebar .current-time::before {
  top: -5px; border-width: 5px 5px 0 5px;
  border-color: #266895 transparent transparent transparent;
}
.interactive-video-editor .timebar .current-time::after {
  bottom: -5px; border-width: 0px 5px 5px 5px;
  border-color: transparent transparent #266895 transparent;
}
.interactive-video-editor .timebar .current-time span {
  line-height: 1;
  display: block;
  background: #fff;
  position: absolute;
  top: 2px;
  white-space: nowrap;
  color: #3288c3;
  text-decoration: underline;
}
.interactive-video-editor .timebar .current-time span.lft {
  left: 4px;
}
.interactive-video-editor .timebar .current-time span.rgt {
  right: 4px;
}

.interactive-video-editor .timebar .labels {
  position: relative;
}
.interactive-video-editor .timebar .labels span {
  position: absolute;
  color: #eee;
  display: block;
  font-family: Arial;
  font-size: 11px;
  line-height: 1;
  padding: 4px 5px;
}
.interactive-video-editor .timebar .labels span::before {
  content: ' ';
  position: absolute;
  top: 0; left: 0;
  height: 10px;
  border-left: 1px solid #eee;
}

.interactive-video-editor .timebar .markers {
  position: relative;
}
.interactive-video-editor .timebar .markers span {
  position: absolute;
  top: 16px;
  display: block;
  width: 6px; height: 6px;
  margin-left: -5px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid #3288c3;
  /*opacity: .7;*/
}
.interactive-video-editor .timebar .markers span.selected {
  background-color: #3288c3;
}